.expense-container {
  display: flex;
  width: 900px;
  height: 90px;
  border: 2px solid;
  border-color: rgb(187, 35, 35);
  border-radius: 40px;
  border-top: dashed;
  margin-bottom: 20px;
  justify-content: space-evenly;
  align-items: center;
}
